<h1>ToDos</h1>

<table>
  <thead>
    <tr>
      <th>Task</th><th>Deadline</th><th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo|%>
      <tr>
        <td><%= link_to todo.task, todo_path(id: todo.id) %></td>
        <td><%= todo.deadline %></td>
        <td><%= check_box_tag("todo", "completed", checked = todo.completed, id: "completed")%></td>
      </tr>
    <% end %>
  <tbody>
</table>
